# Modified by yuimarudev on 2026-03-23.
# This file contains changes from the original upstream work.
[Unit]
After=dbus.service network-pre.target
Before=network.target
BindsTo=dbus.service
Description=NetworkManger D-Bus proxy
StartLimitIntervalSec=0
Wants=network.target

[Service]
Environment="RUST_BACKTRACE=1"
ExecStart=/usr/bin/nm-dbus-proxy
KillMode=process
ProtectHome=true
ProtectSystem=true
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
